html, body {margin: 0; height: 100%; overflow: hidden}

ul {
  display: inline;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

li {
    float: left;
    list-style: none;
    padding: 15px;
}
center{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    }

    label, input, button {
      font-size: inherit;
      padding: 0.2em;
      margin: 0.1em 0.2em;
      text-align: center;
      /* the following ensures they're all using the same box-model for rendering */
      -moz-box-sizing: content-box; /* or `border-box` */
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
  }
  header {display: inline; justify-content: center;}

  ul.myUL {
    display: inline-block;
    text-align: left;
  }

  .column {
    float: left;
    width: 75.54%;
    height: 63rem;
    border: 1px solid #000;
  }
  .smokey1 {
    float: left;
    width: 12.23%;
    height: 63rem;
    border: 1px solid #000;
    background-image: ;
  }
  
  .smokey2 {
    float: left;
    width: 12.23%;
    height: 63rem;
    border: 1px solid #000;
  }